$width: 2000;

html {
	font-family: Helvetica, sans-serif;
	line-height: 1.3;
	background-color: #333;
	color: #333;
	text-align: center;
}

.outer-container {
	margin: 0 auto;
	max-width: $width * 1px;
	box-shadow: 30px 0 0 white, -30px 0 0 white;
	box-sizing: border-box;
}

.container {
	margin: 0 auto;
	max-width: 650px;
}

a {
	color: #FFF;
	text-decoration: none;
}

section {
	padding: 150px;
	background-color: #DDD;
}

h1 {
	font-weight: bold;
	font-size: 60px;
	margin: 0 0 10px;

	@media (max-width: 767px){
		font-size: 40px;
	}
}

h2 {
	font-size: 40px;
	margin: 0;

	@media (max-width: 767px){
		font-size: 20px;
	}
}

p {
	font-size: 20px;
	margin: 0;

	@media (max-width: 767px){
		font-size: 14px;
	}
}

::selection {
	background: #333;
	color: #FFF;
}

::-moz-selection {
	background: #333;
	color: #FFF;
}

// Animations

@keyframes fadeIn {

	from {
		transform: translateY(-3px);
		opacity: 0;
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes pulse {

	0%, 100% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}
}

// Demo Angled Edges

header {
    background-color: #EE3924;
    color: #FFF;
    padding: 100px 0 0;

    @media (max-width: 767px){
        @include angled-edge('outside bottom','lower right', #EE3924, 767);
    }

    @media (min-width: 768px){
        @include angled-edge('outside bottom','lower right', #EE3924, $width);
    }

    h1 {
        animation: fadeIn .9s ease forwards;
    }

    p {
        margin-bottom: 30px;
        opacity: 0;
        animation: fadeIn .9s .3s ease forwards;
    }

    pre {
        max-width: 670px;
        margin: 0 auto;
        display: block;
        opacity: 0;
        animation: fadeIn .9s .6s ease forwards;

        @media (max-width: 767px){
            display: none;
        }

        code {
            padding: 30px !important;
        }
    }

    .demo-edge {

        @media (max-width: 767px){
            @include angled-edge('outside bottom','lower right', darken(#EE3924,10%), 767);
        }

        @media (min-width: 768px){
            @include angled-edge('outside bottom','lower right', darken(#EE3924,10%), $width);
        }

        position: absolute;
        width: 100%;
        height: 100px;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;
        opacity: 0;
        animation: pulse 1.6s 1.2s infinite;
    }
}

#section-1 {
    height: 300px;
    background-image: url('../../images/bg-nyc.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (max-width: 767px){
        @include angled-edge('inside bottom','upper right', #FFF, 767);
    }

    @media (min-width: 768px){
        @include angled-edge('inside bottom','upper right', #FFF, $width);
    }
}

#section-2 {
    padding: 150px 0 150px;
    background-color: #FFF;

    @media (max-width: 767px){
        @include angled-edge('outside bottom','lower right', #FFF, 767);
    }

    @media (min-width: 768px){
        @include angled-edge('outside bottom','lower right', #FFF, $width);
    }
}

#section-3 {
    padding: 300px 0 150px;
    background-color: #EEE;

    @media (max-width: 767px){
        @include angled-edge('outside bottom','lower left', #EEE, 767);
    }

    @media (min-width: 768px){
        @include angled-edge('outside bottom','lower left', #EEE, $width);
    }
}

#section-4 {
    padding: 300px 0 150px;
    background-color: #DDD;

    @media (max-width: 767px){
        @include angled-edge('outside bottom','lower right', #DDD, 767);
    }

    @media (min-width: 768px){
        @include angled-edge('outside bottom','lower right', #DDD, $width);
    }
}

#section-5 {
    padding: 300px 0 150px;
    background-color: #CCC;

    @media (max-width: 767px){
        @include angled-edge('outside bottom','lower left', #CCC, 767);
    }

    @media (min-width: 768px){
        @include angled-edge('outside bottom','lower left', #CCC, $width);
    }
}

#section-6 {
	height: 300px;
	background-image: url('../../images/bg-nyc-street.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	@media (max-width: 767px){
		@include angled-edge('inside top','lower left', #CCC, 767);
	}

	@media (min-width: 768px){
		@include angled-edge('inside top','lower left', #CCC, $width);
	}
}

footer {
	background-color: #EE3924;
	color: #FFF;
	padding-top: 100px;
	padding-bottom: 100px;

	@media (max-width: 767px){
		@include angled-edge('outside top','upper left', #EE3924, 767);
	}

	@media (min-width: 768px){
		@include angled-edge('outside top','upper left', #EE3924, $width);
	}

	.btn {
		display: inline-block;
		padding: 18px 40px;
		color: #FFF;
		font-size: 18px;
		margin-bottom: 200px;
		transition: .3s;
		border: 2px solid #FFF;
		&:hover, &:focus {
			color: #EE3924;
			background-color: #FFF;
		}
	}
}
