html {
    font-family: Helvetica, sans-serif;
    line-height: 1.3;
    background-color: #F9F9F9;
    color: #333;
    text-align: center;
}

.container {
    margin: 0 auto;
    max-width: 650px;
}

a {
    color: #FFF;
    text-decoration: none;
}

section {
    padding: 15vh;
    background-color: #DDD;
}

h1 {
    font-weight: bold;
    font-size: 60px;
    margin: 0 0 10px;
}

h2 {
    font-size: 40px;
    margin: 0;
}

p {
    font-size: 20px;
    margin: 0;
}

::selection {
    background: #333;
    color: #FFF;
}

::-moz-selection {
    background: #333;
    color: #FFF;
}

@keyframes fadeIn {
    from {
        transform: translateY(-3px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes pulse {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

// Demo Angled Edges

header {
    background-color: #EE3924;
    color: #FFF;
    padding: 10vh 0 10vh;
    @include angled-edge('outside bottom','lower right', #EE3924);

    h1 {
        animation: fadeIn .9s ease forwards;
    }

    p {
        margin-bottom: 30px;
        opacity: 0;
        animation: fadeIn .9s .3s ease forwards;
    }

    pre {
        max-width: 670px;
        margin: 0 auto;
        display: block;
        opacity: 0;
        code {
            padding: 30px !important;
        }
        animation: fadeIn .9s .6s ease forwards;
    }

    .demo-edge {
        @include angled-edge('outside bottom','lower right', darken(#EE3924,10%));
        position: absolute;
        width: 100%;
        height: 100px;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;
        opacity: 0;
        animation: pulse 1.6s 1.2s infinite;
    }
}

#section-1 {
    height: 50vh;
    background-image: url('../../images/bg-nyc.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @include angled-edge('inside bottom','upper right', #FFF);
}

#section-2 {
    padding: 15vh 0 15vh;
    background-color: #FFF;
    @include angled-edge('outside bottom','lower right', #FFF);
}

#section-3 {
    padding: 30vh 0 15vh;
    background-color: #EEE;
    @include angled-edge('outside bottom','lower left', #EEE);
}

#section-4 {
    padding: 30vh 0 15vh;
    background-color: #DDD;
    @include angled-edge('outside bottom','lower right', #DDD);
}

#section-5 {
    padding: 30vh 0 15vh;
    background-color: #CCC;
    @include angled-edge('outside bottom','lower left', #CCC);
}

#section-6 {
    height: 50vh;
    background-image: url('../../images/bg-nyc-street.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @include angled-edge('inside top','lower left', #CCC);
}

footer {
    background-color: #EE3924;
    color: #FFF;
    padding-top: 10vh;
    padding-bottom: 10vh;
    @include angled-edge('outside top','upper left', #EE3924);

    .btn {
        display: inline-block;
        padding: 18px 40px;
        color: #FFF;
        font-size: 18px;
        margin-bottom: 20vh;
        transition: .3s;
        border: 2px solid #FFF;
        &:hover, &:focus {
            color: #EE3924;
            background-color: #FFF;
        }
    }
}
