$color--section-1: #EE3924;
$color--section-2: #FFE28A;
$color--section-3: #EE3924;
$color--section-4: #EE3924;
$color--section-5: #EE3924;
$color--section-6: #EE3924;
$color--section-7: #EE3924;
$color--section-8: #EE3924;
